body, button, dd, dl, dt, fieldset, form, h1, h2, h3, h4, h5, h6, input, legend, li, ol, p, select, table, td, textarea, th, ul {
    margin:0;
    padding:0
}

body {
    font-size:14px;
    line-height: 1.5;
    color: #464646;
    font-family:'microsoft yahei', Verdana, Arial;
}
button, input, select, table, textarea {
    font-size:12px;
}
fieldset, img {
    border:0
}
ol, ul {
    list-style:none
}


/*main 让一个固定宽的元素 水平居中*/
.main{width: 990px; margin: 0 auto;}

.notice{
	padding: 10px 10px 10px 50px;
	background: #fcfcfc;
	border-top: 2px solid #dddddd;
	border-bottom: 1px solid #f2f2f2;
}
.notice b{font-weight: bold; font-size: 20px}





